<% if post.errors.any? %>
  <%= post.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h6 class="text-center">投稿</h6>
        <%= form_with model: post ,method: :post do |f| %>

    <h6>タイトル</h6>
        <%= f.text_field :title %>
    <h6>内容</h6>
        <%= f.text_area :body  , size:"23*20" %>

       <h6> タグ <br>(,で区切ると複数,登録できます)</h6>
       <%= f.text_field :name,value: tag_list%>

       <%= f.submit 'Create Book' ,class: 'btn btn-success'%>
        <% end %>

