<div>
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 ">
       <%= render 'public/users/info', user: @post.user %>
    </div>


    <div class="col-md-5 offset-md-1">
      <div>
        <h2 class="text offset-1 ">投稿内容</h2>
        <div class="card" style="width:15rem;">
                <%= image_tag @post.get_image ,size:"240x150"%>
          <div class="card-body">
            <h5 class="card-taitle">
                <%= link_to @post.title, post_path(@post.id) %> </h5>
            <h6 class="card-subtitle text-muted"> 内容 </h6>
            <p class="card-text"> <%= @post.body %> </p>
                <% @post_tags.each do |tag| %>
            <label>  # <%= tag.name %> </label>
            <% end %>

            <br><% if @post.user == current_user %>
            <td><%= link_to  'Edit' , edit_post_path, class: 'btn btn-success'  %> </td>
            <td><%= link_to  'Destroy' , post_path(@post.id),method: :delete, class: 'btn btn-danger'  %> </td>
                <% end %>
          </div>
        </div>
        </div>
    </div>


    <div class="col-md-3 ">
      <div id="comments_area">
        <h2 class="text-center">コメント一覧</h2>
        <%= render 'public/post_comments/comment', post:@post%>
      </div>

      <div class="new-comment">
        <%= render 'public/post_comments/post_comment' , post:@post, post_comment:@post_comment %>

      </div>
    </div>
  </div>
</div>