 <div class="container px-5 px-sm-0　">
  <div class="row">
    <div class="col-md-3 ">

      <%= render 'public/users/info', user: @user %>
      <p class="text-center"><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>
      <%= render 'public/posts/form',post: @post,tag_list: @tag_list%>
    </div>

    <div class="col-md-8 offset-md-1">
        <%= render 'public/searches/search', user: current_user %>
        <h2>各ユーザー</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">image</th>
              <th scope="col">name</th>
           </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <th>
              <%= image_tag user.get_profile_image ,size:"50x50",class:"rounded-circle"%>
              </th>
              <td><%= link_to user.name, user_path(user.id)  %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
     <%= paginate @users %>
    </div>
  </div>
</div>