
<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 ">
      <%= render 'public/users/info', user: @user %>
      <p class="text-center"><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>
      <%= render 'public/posts/form',post: @post,tag_list: @tag_list%>
    </div>

    <div class="col-md-8 offset-md-1">
     <h2>投稿内容</h2>
     <table class="table">
      <thead>
        <tr>
           <th scope="col">タイトル</th>
           <th scope="col">内容</th>
        </tr>
      </thead>
      <tbody>
       <% @posts.each do |book| %>
        <tr>
           <td><%= link_to book.title, post_path(book.id)%></td>
           <td><%= book.body %></td>
           <td> <%= book.tags.name %> </td>
           <td><%= link_to  '削除' , post_path(book.id),method: :delete, class: 'btn btn-outline-danger' %> </td>
        </tr>
           <% end %>
      </tbody>
     </table>

    </div>
  </div>
</div>